<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ccclll777.alldocsbackend.dao.UserDao">
  <resultMap id="BaseResultMap" type="org.ccclll777.alldocsbackend.entity.User">
      <result column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="user_name" property="userName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="password" property="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="nike_name" property="nikeName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="phone" property="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="email" property="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="status" property="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from sys_user where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectUserByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from sys_user where user_name = #{userName,jdbcType=VARCHAR}
    </select>
    <insert id="insertUser" parameterType="org.ccclll777.alldocsbackend.entity.User">
        insert into sys_user (user_name, password,nick_name,create_time,update_time)
        values (#{userName,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR},
                #{nickName,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP}
                )
    </insert>

    <select id="selectUserList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from sys_user order by id limit #{limit,jdbcType=INTEGER} offset #{offset,jdbcType=INTEGER}
    </select>

    <update id="updateUser" parameterType="org.ccclll777.alldocsbackend.entity.User" >
        update sys_user set nick_name=#{nickName,jdbcType=VARCHAR},
                            phone = #{phone,jdbcType=VARCHAR},
                            email = #{email,jdbcType=VARCHAR},
                            create_time = #{createTime,jdbcType=TIMESTAMP},
                            update_time = #{updateTime,jdbcType=TIMESTAMP}
                        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteUser" parameterType="java.lang.Integer" >
       delete from sys_user where id = #{userId,jdbcType=INTEGER}
    </delete>
</mapper>